.nav_main {
    display: block;
    height: 140px;
    padding: 0;
}

.menu {
    display: none;
}
.logo {
    justify-content: center;
    height: 80px;
    font-size: 2rem;
}
.mobile__menu {
    display: none;
}
.desktop__menu {
    display: block;
    height: 60px;
    background-color: #e6e6e6;
    align-content: center;
}

.desktop__menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.desktop__menu ul li {
    display: block;
    width: 120px;
    border-style: none;
}
.a_linksd {
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Reddit Sans", sans-serif;
    color: black;
}
.main__img {
    height: 300px;
    background-size: cover;  
    background-position-y: -70px;
}

.responsive_video {
    padding-bottom: 50%;
}
.responsive_video iframe {
    height: 400px;
}

.left_footer {
    width: 300px;
}

.right_footer {
    width: 300px;
}
.info_links {
    justify-content: flex-end;
    gap: 12px;
}
