* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html { 
    font-size: 62.5%;
    font-family: 'Bebas Neue' sans-serif;
}

body {
    background-color: white;
}

.nav_main {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    height: 60px;
    padding: 15px 24px;
    border-bottom: solid 2px #e6e6e6;
}


.logo {
    width: 100%;
    font-family: "Reddit Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 550;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.desktop__menu {
    display: none;
}

.mobile__menu  {
    position: fixed;
    z-index: 999;
    display: block;
    flex-direction: column;
    overflow: auto;
    right: 0;
    top: 60px;
    width: 300px;
    background-color: #f3f3f3;
    height: 100vh;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: flex-start;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #e6e6e6; 
    text-transform: uppercase;

}



ul { 
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

ul li {
    display: block;
    align-content:center;
    width: 300px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color:#e6e6e6 ;


}

.a_links {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 2.5rem 0;
    /*width: 100%;*/
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

.inactive {
    display: none;
}
.img_cotainer{
    width: 100%;
    height: auto;
}
.main__img {
    background-image: url("https://i.imgur.com/gC2irHh.png");
    width: 100%;
    height: 180px;
    background-size: cover;  
    background-position-y: -30px;
}
.responsive_video{
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
    padding-left: 10px;
    padding-right: 10px;
	}
.responsive_video iframe, .responsive_video object, .responsive_video embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
    padding: 15px 30px 15px;
	}



    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 32px;
        margin-bottom: 20px;
    }

    .left_footer {
        width: 180px;
    }


    span {
        font-size: 1.4rem;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .info_links {
        display: flex;
        gap: 5px;
    }

    .about {
        width: 100%;
        font-family: "Reddit Sans", sans-serif;
        padding: 0 12px;
    }

    .about__title {
        width: 100%;
        padding: 5px 20px;
        font-size: 1.8rem;
    }
    .about__p {
        width: 100%;
        padding: 20px;
        text-align: justify;
        margin-bottom: 20px;
        font-size: 1.6rem;
    }

    .about__p2 {
        margin-top: 10px;
    }

  
