
.info {
    padding-bottom: 18px;
}

.info_social {
display: flex;

}
.info_links {
    margin-top: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.buttons {
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
    margin-top: 0;
}
.buttons_CTA {
    width: 160px;
    margin-top: 0;
}