.main_container {
    background-position-x: center;
    background-position-y: center;
}

.info {
    margin-left: 40px;
    margin-bottom: 5px;
    padding-bottom: 20px;
}

.info_social {
display: inline-flex;
flex-direction: row;
}
.info_links {
    display: flex;
    margin-top: 0;
    padding: 8px;
    margin-left: -8px;
    gap: 10px;
}


.buttons {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 40px;
}

.buttons_CTA {
    width: 20vw;
    height: 50px;
    margin-top: 4px;
}